### Strategy

1. Build classifier for homes based upon Zestimate under, normal, and overprediction
2. Train different regression models on each of the three classifications
3. Use classification model to predict classification of test properties
4. Run augmented test data through three separate models
5. Somehow intergrate time-dependent modeling

### Load Libraries

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing
import sklearn.ensemble
import sklearn.metrics

### Load Data

In [15]:
path = "Data/train.csv"
train = pd.read_csv(path)

path_2 ="C:/Users/jmb179/Documents/My Stuff/Zillow Data/test.csv"
test = pd.read_csv(path_2)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (23,33,35,50,56) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Remove Train Features Missing 90% of Data

In [16]:
missing = train.isnull().sum(axis=0).reset_index()
missing.columns = ['column_name', 'missing_count']
missing = missing.loc[missing['missing_count']>=0]
#missing = missing.sort_values(by='missing_count')
drop = list(missing[missing.missing_count/train.shape[0] >= .90].column_name.values)

In [17]:
train = train.drop(drop, 1)
test = test.drop(drop, 1)

### Label Train Data as Over(2), Under(1) or Normal(0) Logerror

In [18]:
#Need to figure out optimum percentage split
overpreds = np.percentile(train.logerror.values, 90)
underpreds = np.percentile(train.logerror.values, 10)

In [20]:
train['logerr_class'] = ["O" if x >= overpreds else "U" if x <= underpreds else "N" for x in train['logerror']]

In [21]:
train.head()

,Unnamed: 0,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,...,unitcnt,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerr_class
0,0,11016594,0.0276,2016-01-01,1.0,2.0,3.0,4.0,2.0,1684.0,...,1.0,1959.0,NaN,122754.0,360170.0,2015.0,237416.0,6735.88,6.037107e+13,N
1,1,14366692,-0.1684,2016-01-01,NaN,3.5,4.0,NaN,3.5,2263.0,...,NaN,2014.0,NaN,346458.0,585529.0,2015.0,239071.0,10153.02,NaN,U
2,2,12098116,-0.0040,2016-01-01,1.0,3.0,2.0,4.0,3.0,2217.0,...,1.0,1940.0,NaN,61994.0,119906.0,2015.0,57912.0,11484.48,6.037464e+13,N
3,3,12643413,0.0218,2016-01-02,1.0,2.0,2.0,4.0,2.0,839.0,...,1.0,1987.0,NaN,171518.0,244880.0,2015.0,73362.0,3048.74,6.037296e+13,N
4,4,14432541,-0.0050,2016-01-02,NaN,2.5,4.0,NaN,2.5,2283.0,...,NaN,1981.0,2.0,169574.0,434551.0,2015.0,264977.0,5488.96,6.059042e+13,N

In [34]:
train.groupby("logerr_class").numberofstories.describe()

                count      mean       std  min  25%  50%  75%  max
logerr_class
N             17170.0  1.448340  0.542378  1.0  1.0  1.0  2.0  4.0
O              1864.0  1.432403  0.570091  1.0  1.0  1.0  2.0  4.0
U              1536.0  1.365885  0.530731  1.0  1.0  1.0  2.0  3.0

In [41]:
example = train.drop(train.columns[0:3],1)

In [42]:
dtype_df = example.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
dtype_df.groupby("Column Type").aggregate('count').reset_index()
drop_object = list(dtype_df[dtype_df['Column Type'] == "object"].Count.values)

In [44]:
X = example
#X = example.drop("logerr_class", 1 )
X = X.drop(drop_object, 1)

y = example.logerr_class

In [46]:
imp_median = sklearn.preprocessing.Imputer(missing_values='NaN', strategy='median', axis=0)
X = imp_median.fit_transform(X)
#X = pd.DataFrame(X, columns = train.columns)

In [47]:
gbc = sklearn.ensemble.GradientBoostingClassifier(learning_rate = 0.1, n_estimators=100, max_depth = 3, random_state = 100)
gbc_scores = sklearn.model_selection.cross_val_score(gbc, X, y, cv=10, scoring='accuracy')
cv_gbc_acc = gbc_scores.mean()

In [48]:
cv_gbc_acc

0.79863749247765237

In [49]:
gbc_train = gbc.fit(X,y)
train_gbc_acc = gbc.score(X,y)

In [51]:
y_true = y
y_pred = gbc_train.predict(X)

In [54]:
sklearn.metrics.confusion_matrix(y_true, y_pred)

array([[72037,    23,    48],
       [ 8913,   110,    14],
       [ 9002,    20,   108]])