### Load Data

In [144]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

filepath = "Data/train.csv"
titanic = pd.read_csv(filepath)

### Separate Prefix and Numbers from Ticket

In [145]:
titanic["Ticket"] = titanic['Ticket'].str.replace('[^\w\s]','') #Remove punctuation

In [ ]:
titanic["Ticket_Num"] = np.nan
titanic["Ticket_Prefix"] = ""

for index, row in titanic.iterrows():
    list_string = row["Ticket"].split()
    n = len(list_string)
    if n == 1 and list_string[0].isdigit():
        titanic.loc[index ,"Ticket_Num"] = int(list_string[0])
        
    elif n == 1:
        titanic.loc[index ,"Ticket_Prefix"] = list_string[0]
        
    else:
        titanic.loc[index ,"Ticket_Prefix"] = " ".join(list_string[0:n-1])
        titanic.loc[index ,"Ticket_Num"] = int(list_string[n-1])

In [148]:
titanic = titanic.drop('Ticket', 1)

In [149]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,Ticket_Num,Ticket_Prefix
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,NaN,S,21171.0,A5
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C85,C,17599.0,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,NaN,S,3101282.0,STONO2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,C123,S,113803.0,
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,NaN,S,373450.0,