In [1]:
%%html
<style>
table {float:left}
</style>

### Data Dictionary

|Variable|Definition|Key|
|--------|----------|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|sex|Sex||
|Age|Age in years||
|sibsp|# of siblings /spouses aboard Titanic||
|parch|# of patents / children aboard Titanic||
|ticket|Ticket number||
|fare|Passenger fare||
|cabin|Cabin number||
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown,S = Southhamption|

### Variables Notes
**pclass**: A proxy for socio-economic status (SES), where 1st = Upper, 2nd = Middle, and 3rd = Lower.

**age**: Age is fractional if less than 1. If the age is estimated, is it in the form of xx.5

**sibsp**: Sibling = brother, sister, stepbrother, stepsister, Spouse = husband, wife (mistresses and fianc√©s were ignored)

**parch**: Parent = mother, father, Child = daughter, son, stepdaughter, stepson, Some children travelled only with a nanny, therefore parch=0 for them.

### Load Training Data

In [8]:
import numpy as np
import pandas as pd

filepath = "Data/train.csv"
titanic = pd.read_csv(filepath)

In [9]:
titanic.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S